<% if (typeof status !== 'undefined') { %>
	<div class="alert alert-danger d-flex alert-dismissible" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div class="float-end">
			<% switch (status) {
			case '1' : %>
				A teszt kitöltése regisztrációhoz kötött!
				<% break;
			case '2' : %>
				A belépéshez használt pinkód nem létezik!
				<% break;
			case '3' : %>
				A belépéshez használt jelszó hibás!
				<% break;
			case '4' : %>
				A belépéshez használt felhasználónév nem létezik!
				<% break;
			case '7' : %>
				A teszt kitöltése csak egyszer lehetséges!
				<% break; %>
		  	<% } %>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %>


<div class="container">

	<div class="row mt-3">
		<span class="h3 p-0">Létrehozás</span>
	</div>
	<div class="row mt-2">
		<div class="col-md-3 mb-2">
			<div class="card text-dark w-100 bg-light h-100">
				<div class="card-header text-center">Tesztek száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= testCount[0][0].testCount%></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-2">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Tesztfolyamatok száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= processCount[0][0].processCount%></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-2">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Feladatok száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= questionCount[0][0].questionCount%></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 mb-2">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Kitöltések száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= fullfilledCount[0][0].fullfilledCount%></p>
				</div>
			</div>
		</div>
		</div>
		<div>
			<div class="row mt-1">
				<div class="col-6">
					<span class="h5 float-start m-0">Utolsó 5</span>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-6">
					<table data-toggle="table" data-mobile-responsive="true" id="test_table">
						<thead>
							<tr>
								<th class="text-center p-1" colspan="4">Teszt</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Teszt neve</th>
								<th>Módosítás dátuma</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
								<% if (test_data[0].length > 0) { %>
									<% for(var i=0; i<test_data[0].length; i++) {%>
										<tr>
											<td data-field="id"><%= test_data[0][i].test_id %></td>
											<td style="width:60%" data-field="name"><%= test_data[0][i].test_name %></td>
											<td class="text-center "data-field="date"><%= moment(test_data[0][i].modified_date).format("YYYY.MM.DD HH:mm");  %></td>
											<td class="text-center"><a href="/test/bank?test_id=<%= test_data[0][i].test_id %>"><span style="color: #617ab8;" class="iconify d-inline" data-icon="carbon:information" data-width="18" data-height="18"></span></a></td>
									</tr>
									<% } }%>
						</tbody>
					</table>
				</div>
				<div class="col-lg-6">
					<table data-toggle="table" data-mobile-responsive="true" id="process_table">
						<thead>
							<tr>
								<th class="text-center p-1" colspan="6">Tesztfolyamat</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Teszt neve</th>
								<th>Futtatási mód</th>
								<th>Pinkód</th>
								<th>Állapot</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
								<% if (process_data[0].length > 0) { %>
									<% for(var i=0; i<process_data[0].length; i++) {%>
										<tr>
											<td data-field="id"><%= process_data[0][i].process_id %></td>
											<td style="width:60%" data-field="name"><%= process_data[0][i].test_name %></td>
											<td><% switch (process_data[0][i].mode) {
												case 0 : %>
														Gyakorló
														<% break;
												
												case 1 : %>
														Tantermi
														<% break;
												
												case 2 : %>
														Vizsga
														<% break;
	
												case 3 : %>
														Vizsga (verseny)
														<% break;
												
												} %>
											</td>
											<td class="col-sm-3"><%= process_data[0][i].pincode %>
												<%var time_courrent_dif_end = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][i].end_date, "YYYY.MM.DD HH:mm")));%>
												<%var time_courrent_dif_start = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][i].start_date, "YYYY.MM.DD HH:mm")));%>
												<% if (time_courrent_dif_end.asSeconds() >= 0) { %> 
												  <td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: red;"></span>
												<% } else { %>
												  <% if (time_courrent_dif_start.asSeconds() >= 0) { %>
													<td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: green;"></span>
													<% } else { %>
													  <td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: orange"></span
														<% } %>
													<% } %>
										  </td>
										  <td class="text-center"><a href="/test/process?pincode=<%= process_data[0][i].pincode %>"><span style="color: #617ab8;" class="iconify d-inline" data-icon="carbon:information" data-width="18" data-height="18"></span></a></td>
										</tr>

									<% } }%>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<span class="h3 p-0">Kitöltés</span>
		</div>
		<div class="row mt-2">
			<div class="col-12">

				<div class="card text-dark bg-light h-100">
					<div class="card-header text-center">Kitöltött tesztek száma</div>
					<div class="card-body text-center">
						<div class="row">
							<div class="col-4">
								<span>Gyakorló</span>
							<p class="card-text fs-2">0</p>
							</div>
							<div class="col-4">
								<span>Vizsga</span>
							<p class="card-text fs-2">0</p>
							</div>
							<div class="col-4">
								<span>Vizsga (verseny)</span>
							<p class="card-text fs-2">0</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			</div>

			<div>
				<div class="row mt-3">
					<div class="col-6">
						<span class="h5 float-start m-0">Utolsó 5</span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-lg-12">
						<table data-toggle="table" data-mobile-responsive="true" id="test_table">
							<thead>
								<tr>
									<th class="text-center p-1" colspan="6">Teszteredmények</th>
								</tr>
								<tr>
									<th>Létrehozó neve</th>
									<th>Teszt neve</th>
									<th>Futtatási mód</th>
									<th>Pontszám</th>
									<th>Eredmény</th>
									<th>Értékelés</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>







	</div>
</div>

<script>

$('#test_table').bootstrapTable({


});
$('#process_table').bootstrapTable({
	onToggle:function(cardView){
	
},
});
</script>
