<% if (typeof status !== 'undefined') { %>
	<div class="alert alert-danger d-flex alert-dismissible" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div class="float-end">
			<% switch (status) {
			case '1' : %>
				A teszt kitöltése regisztrációhoz kötött!
				<% break;
			case '2' : %>
				A belépéshez használt pinkód nem létezik!
				<% break;
			case '3' : %>
				A belépéshez használt jelszó hibás!
				<% break;
			case '4' : %>
				A belépéshez használt felhasználónév nem létezik!
				<% break; %>
		  	<% } %>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %>


<div class="container">

	<div class="row mt-3">
		<span class="h3 p-0">Létrehozás</span>
	</div>
	<div class="row mt-2">
		<div class="col-3">
			<div class="card text-dark w-100 bg-light h-100">
				<div class="card-header text-center">Tesztek száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= testCount[0][0].testCount%></p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Tesztfolyamatok száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= processCount[0][0].processCount%></p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Feladatok száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2"><%= questionCount[0][0].questionCount%></p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-dark bg-light h-100">
				<div class="card-header text-center">Kitöltések száma
				</div>
				<div class="card-body text-center">
					<p class="card-text fs-2">20</p>
				</div>
			</div>
		</div>
		</div>
		<div>
			<div class="row mt-3">
				<div class="col-6">
					<span class="h5 float-start m-0">Utolsó 5</span>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-6">
					<table data-toggle="table" id="test_table">
						<thead>
							<tr>
								<th class="text-center p-1" colspan="3">Teszt</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Teszt neve</th>
								<th>Módosítás dátuma</th>
							</tr>
						</thead>
						<tbody>
								<% if (test_data[0].length > 0) { %>
									<% for(var i=0; i<test_data[0].length; i++) {%>
										<tr>
											<td data-field="id"><%= test_data[0][i].test_id %></td>
											<td style="width:60%" data-field="name"><%= test_data[0][i].test_name %></td>
											<td class="text-center "data-field="date"><%= moment(test_data[0][i].modified_date).format("YYYY.MM.DD HH:mm");  %></td>
										</tr>
									<% } }%>
						</tbody>
					</table>
				</div>
				<div class="col-lg-6">
					<table data-toggle="table" id="process_table">
						<thead>
							<tr>
								<th class="text-center p-1" colspan="5">Tesztfolyamat</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Teszt neve</th>
								<th>Mód</th>
								<th>Pinkód</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
								<% if (process_data[0].length > 0) { %>
									<% for(var i=0; i<process_data[0].length; i++) {%>
										<tr>
											<td data-field="id"><%= process_data[0][i].process_id %></td>
											<td style="width:60%" data-field="name"><%= process_data[0][i].test_name %></td>
											<td><% switch (process_data[0][i].mode) {
												case 0 : %>
														Gyakorló
														<% break;
												
												case 1 : %>
														Tantermi
														<% break;
												
												case 2 : %>
														Vizsga
														<% break;
	
												case 3 : %>
														Vizsga (verseny)
														<% break;
												
												} %>
											</td>
											<td class="col-sm-3"><%= process_data[0][i].pincode %>
											<%var time = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][i].end_date, "YYYY.MM.DD HH:mm")));%>
											<% if (time.asSeconds() >= 0) { %> 
											  <td class="col-sm-1"><span class="iconify" data-icon="carbon:dot-mark" style="color: red;"></span>
											<% } else { %>
											  <td class="col-sm-1"><span class="iconify" data-icon="carbon:dot-mark" style="color: green;"></span>
											<% } %>
										  </td>
										</tr>

									<% } }%>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<span class="h3 p-0">Kitöltés</span>
		</div>
		<div class="row mt-2">
			<div class="col-3">
				<div class="card text-dark bg-light h-100">
					<div class="card-header text-center">Kitöltött tesztek száma
					</div>
					<div class="card-body text-center">
						<p class="card-text fs-2">50</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-dark bg-light h-100">
					<div class="card-header text-center">Tesztfolyamatok száma
					</div>
					<div class="card-body text-center">
						<p class="card-text fs-2">20</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-dark bg-light h-100">
					<div class="card-header text-center">Feladatok száma
					</div>
					<div class="card-body text-center">
						<p class="card-text fs-2">20</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-dark bg-light h-100">
					<div class="card-header text-center">Kitöltések száma
					</div>
					<div class="card-body text-center">
						<p class="card-text fs-2">20</p>
					</div>
				</div>
			</div>
			</div>
	</div>
</div>

<script>

$('#test_table').bootstrapTable({
});
$('#process_table').bootstrapTable({
});
</script>
