<h1>Teszteredmények</h1>


<div id="testinfo" class="row g-0 mb-3">
	<div id="test_title" class="col-12 m-auto text-center">
		<h3 class="d-inline"><%= test_info[0][0].test_name %></h3></br>
    <span>ID: <%= test_info[0][0].process_id %></span></br>
    <span>Futtatási mód: <% switch (test_info[0][0].mode) {
      case 0 : %>
              Gyakorló
              <% break;
      
      case 1 : %>
              Tantermi
              <% break;
      
      case 2 : %>
              Vizsga
              <% break;

      case 3 : %>
              Vizsga (verseny)
              <% break;
      
      } %></span>
    
	</div>
</div>

<div id="testinfo" class="row g-0 mb-3">
	<div class="col-md-4 m-auto text-center">
		<span>Feladatok száma:</span>
		<span class="fw-bold"><%= test_info[0][0].question_num %> db</span>
	</div>
	<div class="col-md-4 m-auto text-center">
		<span>Rendelkezésreálló idő:</span>
		<span class="fw-bold"><%= test_info[0][0].max_time %></span>
	</div>
	<div class="col-md-4 m-auto text-center">
		<span>Összes pontszám:</span>
		<span class="fw-bold"><%= test_info[0][0].all_point+test_info[0][0].all_extrapoint %> (<%= test_info[0][0].all_point %>+<%= test_info[0][0].all_extrapoint %>)</span>
	</div>
</div>

<table     
id="table-processlist"
data-toggle="table"
data-mobile-responsive="true"
data-search="true"
data-pagination="true"
data-page-number="1"
data-page-size="10"
data-sortable="true"
data-pagination-parts="[pageList, pageInfo]">
  <thead>
    <tr>
      <% if (test_info[0][0].mode == '3') { %>
        <th data-field="rank" data-sortable="true">Helyezés
          <img color="green" src="/images/info-circle.svg"
          tabindex="0" class="btninfo" role="button" data-container="body" data-bs-toggle="popover" data-placement="top" data-bs-trigger="hover focus"
          title="Információ" data-bs-content="Az összes pontszám alapján elért helyezés.">
          </img>
        </th>
      <% } %> 
      <th data-field="full_name" data-sortable="true">Teljes név</th>
      <th data-field="eduid" data-sortable="true">Oktatási azonosító</th>
      <th data-field="start_date" data-sortable="true">Kitöltés kezdete</th> 
      <th data-field="end_date" data-sortable="true">Kitöltés vége</th>
      <th data-field="duration" data-sortable="true">Kitöltés időtartama</th>
      <% if (test_info[0][0].mode == '3') { %>
        <th data-field="reached_point" data-sortable="true">Alappontszám</th>
        <th data-field="reached_extrapoint" data-sortable="true">Extra pontszám
          <img color="green" src="/images/info-circle.svg"
          tabindex="0" class="btninfo" role="button" data-container="body" data-bs-toggle="popover" data-placement="top" data-bs-trigger="hover focus"
          title="Információ" data-bs-content="A villámidőkereten belül leadott helyes válaszokért járó pontszámok összege.">
          </img>
        </th>
      <% } %>
      <th data-field="summed_points" data-sortable="true">Összes pontszám</th>
      <th data-field="results_percentage" data-sortable="true">Eredmény 
        <img color="green" src="/images/info-circle.svg"
        tabindex="0" class="btninfo" role="button" data-container="body" data-bs-toggle="popover" data-placement="top" data-bs-trigger="hover focus"
        title="Információ" data-bs-content="Az eredménybe az extra pontszámok nem tartoznak bele!">
        </img>
      </th>
      <th data-field="rating" data-sortable="true">Értékelés</th>
    </tr>
  </thead>
  <tbody>
    <% if (test_results[0].length > 0) { %>
      <% for(var i=0; i<test_results[0].length; i++) {%>
              <tr>
                  <% if (test_info[0][0].mode == '3') { %>
                    <td> <%= i+1 %> </td>
                  <% } %>
                  <td><%= test_results[0][i].full_name %></td>
                  <td><%= test_results[0][i].eduid %></td>
                  <td><%= moment(test_results[0][i].start_date).format("YYYY.MM.DD HH:mm:ss");  %></td>
                  <td><%= moment(test_results[0][i].end_date).format("YYYY.MM.DD HH:mm:ss");  %></td>
                  <td><%= test_results[0][i].time %></td>
                  <% if (test_info[0][0].mode == '3') { %>
                    <td><%= test_results[0][i].reached_point %></td>
                    <td><%= test_results[0][i].reached_extrapoint %></td>
                    <td><%= test_results[0][i].summed_points %></td>
                  <% } else { %>
                    <td><%= test_results[0][i].reached_point %></td> <!-- Az összes pontszám az alappontszámmal egyenlő, ha szimpla vizsgamódban fut-->
                  <% } %>

                  <td><%= test_results[0][i].result_percentage %> %</td>
                  <td id="<%= test_results[0][i].user_id %>"><script>$("#<%= test_results[0][i].user_id %>").text(calculateGrade('<%= test_results[0][i].result_percentage %>', '<%= test_info[0][0].classification %>'));</script></td>
                </tr>
         <% } %>     
      <% } %>
  </tbody>
</table>
