  <!-- link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css"> -->
<!-- <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script> -->
<!-- <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script> -->

<% if (typeof status !== 'undefined') { %>
	<% if (status == '1') { %>
	<div class="alert alert-danger d-flex alert-dismissible" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div class="float-end">
		  A megadott főkategória már létezik!
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %> 
<% if (status == '4') { %>
	<div class="alert alert-warning d-flex alert-dismissible" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div class="float-end">
		  A teszt létrehozásához legalább egy főkategória, és egy hozzátartozó alkategória megléte szükséges.
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %> 
<% } %>

<h1>Kategóriák<img src="/images/info_black_24dp.svg" 
tabindex="0" id="category-info" class="btninfo" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" 
title="Információ" data-bs-content="Minden teszt egy előre meghatározott kategóriába kell tartozzon.
 Ez a felület teszi lehetővé a kategóriák létrehozását, szerkesztését, törlését. A főkategóriákon belül lehetőség van alkategóriák létrehozására is.">
</img>
</h1>
<a href="#" OnClick="LoadDataToModal('newMainCat', '', '')" class="btn btn-primary btn-sm float-end mb-2">Új főkategória létrehozása</a>
<div class="accordion" id="categorys">
  <% if (data[0].length > 0) { %>
    <% for(var i=0; i<data[0].length; i++) {%>
        <% if (data[0][i].parent == null) { %>
            <div class="accordion-item" >
                <h2 class="accordion-header" id="heading<%= i %>">
                    <button class="accordion-button collapsed" id="maincatbtn-<%= data[0][i].id %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
                        <%= data[0][i].name %>
                        <span id="hiddenID-<%= data[0][i].id %>" hidden><%= data[0][i].id %></span>
                    </button>
                </h2>
                <div id="collapse<%= i %>" class="accordion-collapse collapse" aria-labelledby="heading<%= i %>" data-bs-parent="#categorys">
                    <div class="accordion-body">
                      <a href="#" OnClick="LoadDataToModal('deleteMainCat', '', '<%= data[0][i].id %>')" class="btn btn-danger btn-sm float-end m-2">Főkategória törlése</a>
                      <a href="#" class="btn btn-secondary btn-sm float-end m-2">Főkategória átnevezése</a>
                      <table class="subcat-tables"     
                      id="table"
                      data-toggle="table"
                      data-mobile-responsive="true">
                            <thead>
                              <tr>
                                <th data-field="subcat_name">Alkategória neve</th>
                                <th data-field="test_count">Tesztek száma</th>
                                <th class="control-buttons" data-field="control_buttons">Műveletek</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% for(var j=0; j<data[0].length; j++) {%>
                                <% if (data[0][i].id == data[0][j].parent) { %>
                                    <tr>
                                        <td><%= data[0][j].name %></td>
                                        <td><%= data[0][j].TestCount %></td>
                                        <td>
                                          <a href="#" class="btn btn-warning btn-sm">Teszt lista</a>
                                          <a href="#" class="btn btn-secondary btn-sm">Átnevezés</a>
                                          <a href="#" OnClick="LoadDataToModal('deleteSubCat', '<%= data[0][j].id %>', '<%= data[0][i].id %>')" class="btn btn-danger btn-sm">Törlés</a><br>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                            <tr class="newcat-button">
                              <td colspan="3"><a href="#" OnClick="LoadDataToModal('newSubCat', '','<%= data[0][i].id %>')" class="btn btn-primary btn-sm float-start">Új létrehozása</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    <% } %>
</div>

<!--Új főkategória létrehozása Modal  -->
<div class="modal fade" id="newMainCatModal" tabindex="-1" aria-labelledby="newMainCatModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newMainCatModal">Új főkategória létrehozása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
      <form action="/newMainCategory" class="needs-validation" method="post" id="newMainCategory" name="newMainCategory" novalidate>
      <div class="modal-body">
            <fieldset>
              <div class="container">
                  <div class="form-group mb-3 "> 
                    <label class="form-label" for="start_date"><b>Kategória megnevezése:</b></label>
                    <input class="form-control"  type="text" id="maincat_name" name="maincat_name">
                    <div class="valid-feedback">
                    <span id="valid-text"></span>
                    </div>
                    <div class="invalid-feedback">
                    <span id="invalid-text"></span>
                    </div>
                  </div>
              </div>
            </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" class="btn btn-primary">Létrehozás</button>
      </div>
    </form>
  </section>
    </div>
  </div>
</div>

<!--Új alkategória létrehozása Modal  -->
<div class="modal fade" id="newSubCatModal" tabindex="-1" aria-labelledby="newSubCatModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSubCatModal">Új alkategória létrehozása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
      <form action="/newSubCategory" class="needs-validation" method="post" id="newSubCategory" name="newSubCategory" novalidate>
      <div class="modal-body">
            <fieldset>
              <div class="container">
                  <input class="form-control" hidden type="text" id="maincat_id_ns" name="maincat_id_ns" value=""> 
                  <div class="form-group mb-3 "> 
                    <label class="form-label" for="start_date"><b>Kategória megnevezése:</b></label>
                    <input class="form-control"  type="text" id="subcatname" name="subcatname">
                    <div class="valid-feedback">
                    <span id="valid-text"></span>
                    </div>
                    <div class="invalid-feedback">
                    <span id="invalid-text"></span>
                    </div>
                  </div>
              </div>
            </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" class="btn btn-primary">Létrehozás</button>
      </div>
    </form>
  </section>
    </div>
  </div>
</div>

<!-- Alkategória törlése Modal -->
<div class="modal fade" id="deleteSubCatModal" tabindex="-1" aria-labelledby="deleteSubCatModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Figyelem!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
        <form action="/deleteSubCat" class="needs-validation" method="post" id="deleteSubCat" novalidate>
        <div class="modal-body">
          Az alkategória törlésével a hozzátartozó tesztek is végleg törlésre kerülnek. </br></br><strong>Biztos, hogy törölni szeretnéd?</strong>
          <fieldset>
              <div class="container">
                  <input class="form-control" hidden type="text" id="subcat_id_ds" name="subcat_id_ds" value="">
                  <input class="form-control" hidden type="text" id="maincat_id_ds" name="maincat_id_ds" value=""> 
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vissza</button>
          <button type="submit" class="btn btn-danger">Törlés</button>
        </div>
      </form>
    </section>
    </div>
  </div>
</div>

<!-- Főkategória törlése Modal -->
<div class="modal fade" id="deleteMainCatModal" tabindex="-1" aria-labelledby="deleteMainCatModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Figyelem!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
        <form action="/deleteMainCat" class="needs-validation" method="post" id="deleteMainCat" novalidate>
        <div class="modal-body">
          A főkategória törlésével a hozzátartozó tesztek is végleg törlésre kerülnek. </br></br><strong>Biztos, hogy törölni szeretnéd?</strong>
          <fieldset>
              <div class="container">
                  <input class="form-control" hidden type="text" id="maincat_id_dm" name="maincat_id_dm" value=""> 
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vissza</button>
          <button type="submit" class="btn btn-danger">Törlés</button>
        </div>
      </form>
    </section>
    </div>
  </div>
</div>

  <script>


//Modalok inicializálása
var deleteMainCatModal = new bootstrap.Modal(document.getElementById('deleteMainCatModal'));
var deleteSubCatModal = new bootstrap.Modal(document.getElementById('deleteSubCatModal'));
var newMainCatModal = new bootstrap.Modal(document.getElementById('newMainCatModal'));
var newSubCatModal = new bootstrap.Modal(document.getElementById('newSubCatModal'));


function LoadDataToModal(modal, subcat_id, maincat_id) {

  switch(modal) {
  case 'deleteSubCat':
    $("#subcat_id_ds").val(subcat_id);
    $("#maincat_id_ds").val(maincat_id);
    deleteSubCatModal.show();
    break;
  case 'deleteMainCat':
    $("#maincat_id_dm").val(maincat_id);
    deleteMainCatModal.show();
    break;
  case 'newSubCat':
    $("#maincat_id_ns").val(maincat_id);
    newSubCatModal.show();
    break;
  case 'newMainCat':
    newMainCatModal.show();
    break;
  default:
    // code block
}}





  $(".subcat-tables").bootstrapTable({

    onToggle:function(cardView){
    },
    
    onLoadSuccess: function (data) {
    },
    
    //Mobilnézetben(card-view) generál két span elemet a bootstrap-table, ezzel szabadulunk meg a card-view-title résztől
    onResetView : function (data, index) {
      $(".newcat-button .card-view-title").remove();
      $("span:contains('Műveletek')").remove();//Itt a helytakarékosság érdekében a "műveletek" szövegtől
    }
    })

    $(document).ready(function() {
      ShowRowByID('<%= maincatid %>'); //meghívjuk a függvényt, ezzel lenyitjuk azt a tesztet, amiről új folyamatot hoztunk létre
    });


    // function LoadDataToModal(target) {
    //   $("#maincatid").val(target);
    // }

    function ShowRowByID(target) {
      Row = $("#maincatbtn-"+target);  //adott főkategória megkeresése a kategória ID alapján
      Row.click(); //klikk szimulálás
}


</script>