<h1>Tesztfolyamatok</h1>
<table     
id="table-processlist"
data-toggle="table"
data-mobile-responsive="true"
<% if (typeof pincode !== 'undefined') { %>
  data-search-text="<%= pincode %>"
<% } %>
data-search="true"
data-pagination="true"
data-page-number="1"
data-page-size="10"
data-sortable="true"
data-pagination-parts="[pageList, pageInfo]">
  <thead>
    <tr>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="test_name" data-sortable="true">Teszt neve</th>
      <th data-field="start_date" data-sortable="true">Indítási dátum</th> 
      <th data-field="end_date" data-sortable="true">Lejárati dátum</th>
      <th data-field="online_count" data-sortable="true">Online</th>
      <th data-field="pincode" data-sortable="true">Pinkód</th>
      <th data-field="fullfilled" data-sortable="true">Kitöltések</th>
      <th data-field="avg_result" data-sortable="true">Átlagos eredmény</th>
      <th data-field="mode" data-sortable="true">Futtatási mód</th>
      <th data-field="status" data-sortable="true">Állapot</th>
      
      <th data-field="operations" data-sortable="false">Műveletek</th>
    </tr>
  </thead>
  <tbody>
<% if (process_data[0].length > 0) { %>
  <% for(var i=0; i<process_data[0].length; i++) {%>
          <tr>
              <td id="t-1"><%= process_data[0][i].process_id %></td>
              <td id="t-2"><%= process_data[0][i].test_name %></td>
              <td id="t-3"><%= moment(process_data[0][i].start_date).format("YYYY.MM.DD HH:mm");  %></td>
              <% if (process_data[0][i].end_date == "0000-00-00 00:00:00") { %>
              <td id="t-4"> Határozatlan
              <% }  else { %>
              <td id="t-4"> <%= moment(process_data[0][i].end_date).format("YYYY.MM.DD HH:mm");  %>
                <% } %>
              </td>
              <td id="t-5"><%= process_data[0][i].online_count %></td>
              <% fullfilled_value = 0; %>
              <% if (fullfilledCount[0].length > 0) { %>
                <% var found = false; %>
                <% var j = 0; %>
                <% while (!found && j < fullfilledCount[0].length) { %>
                  <% if (fullfilledCount[0][j].process_id == process_data[0][i].process_id) { %>
                    <% fullfilled_value = fullfilledCount[0][j].fullfilledCount; %>
                    <% found = true; %>
                  <% } %>
                <% j++; } %>
              <% } %>
              <td><%= process_data[0][i].pincode %></td>
              <td><%= fullfilled_value %></td>
              <td>-</td>
              <td><% switch (process_data[0][i].mode) {
                case 0 : %>
                        Gyakorló
                        <% break;
                
                case 1 : %>
                        Tantermi
                        <% break;
                
                case 2 : %>
                        Vizsga
                        <% break;

                case 3 : %>
                        Vizsga (verseny)
                        <% break;
                
                } %>
              </td>
              <%var time_courrent_dif_end = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][i].end_date, "YYYY.MM.DD HH:mm")));%>
              <%var time_courrent_dif_start = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][i].start_date, "YYYY.MM.DD HH:mm")));%>
              <% if (time_courrent_dif_end.asSeconds() >= 0) { %> 
                <td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: red;"></span>
              <% } else { %>
                <% if (time_courrent_dif_start.asSeconds() >= 0) { %>
                  <td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: green;"></span>
                  <% } else { %>
                    <td class="col-sm-1 text-center"><span class="iconify" data-icon="carbon:dot-mark" style="color: orange"></span
                      <% } %>
                  <% } %>
              </td>
              <td><% if ( (process_data[0][i].mode == 2) || (process_data[0][i].mode == 3) ) { %>
                <a href ="/test/results?process_id=<%= process_data[0][i].process_id %>"><span class="iconify" data-icon="carbon:result" data-width="20" data-height="20"></span></a>
                <!-- <a href ="/test/results?process_id=<%= process_data[0][i].process_id %>"><span class="iconify" data-icon="carbon:result" data-width="20" data-height="20"></span></a> -->
              <% } %> 
              <span style="color: #bf9b25;" class="iconify d-inline me-1" data-icon="carbon:pen" data-width="20" data-height="20"></span>
              <a href="#" OnClick="LoadDataToModal('deleteTestProcess', '<%= process_data[0][i].process_id %>','')"><span style="color: red;" class="iconify d-inline" data-icon="carbon:delete" data-width="20" data-height="20"></span></a>
            </td>
          </tr>
  <% } %>
<% } %>
  </tbody>
</table>