

    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<!-- <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script> -->

<style>
  .card-body > .btn {
margin-top: 2px;
}

</style>


<h1>Tesztbank</h1>
<table     
id="table"
data-toggle="table"
data-mobile-responsive="true"
data-search="true"
data-pagination="true"
data-page-number="2">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="test_name">Teszt neve</th>
      <th data-field="questions_count">Kérdések száma</th>
      <th data-field="cat_name">Kategória</th>
      <th data-field="created_date">Létrehozás dátuma</th> 
      <th data-field="modified_date">Módosítás dátuma</th>  
    </tr>
  </thead>
  <tbody>
  <% for(var i=0; i<data[0].length; i++) {%>
          <tr data-bs-toggle="collapse" data-bs-target="#hiddenRow<%= i %>" aria-expanded="false" aria-controls="#hiddenRow<%= i %>" id="Row<%= i %>" class="">
              <td><%= data[0][i].testid %></td>
              <td><%= data[0][i].test_name %></td>
              <td><%= data[0][i].question_num %></td>
              <td><%= data[0][i].cat_name %></td>
              <td><%= moment(data[0][i].created_date).format("YYYY.MM.DD HH:mm");  %></td>
              <td><%= moment(data[0][i].modified_date).format("YYYY.MM.DD HH:mm");  %></td>
          </tr>

          <tr id="hiddenRow<%= i %>">
                <td style="display: none"><%= data[0][i].testid %></td>
                <td style="display: none"><%= data[0][i].test_name %></td>
                <td style="display: none"><%= data[0][i].question_num %></td>
                <td style="display: none"><%= data[0][i].cat_name %></td>
                <td style="display: none"><%= moment(data[0][i].created_date).format("YYYY.MM.DD HH:mm");  %></td>
                <td class="hiddenRow p-0 w-100" colspan="6">
                <div class="collapse" id="hiddenRow<%= i %>">
                  <div class="card card-body">
                    
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Aktív példányok</h5>
                            <p class="card-text">Ebből a tesztből jelenleg nem fut egy példány sem.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Statisztika</h5>

                            <dl class="row">
                              <dt class="col-sm-8">Kitöltések száma</dt>
                              <dd class="col-sm-4">0</dd>
                              <dt class="col-sm-8">Futtatások száma</dt>
                              <dd class="col-sm-4">0</dd>

                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Műveletek <img color="green" src="images/info-circle.svg" 
                              tabindex="0" class="btninfo" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" 
                              title="Információ" data-bs-content="A műveletek segítségével elindíthatod a tesztet egy tetszőleges módban, szerkesztheted vagy törölheted azt.">
                              </img></h5>
                              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-sm">Indítás</a>
                              <a href="#" class="btn btn-secondary btn-sm">Módosítás</a>
                              <a href="#" class="btn btn-danger btn-sm">Törlés</a><br>
                              <a href="#" class="btn btn-outline-warning btn-sm mt-2">Exportálás</a>
                              <a href="#" class="btn btn-outline-warning btn-sm mt-2">Nyomtatás</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
          </td></tr>
  <% } %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Indítási beállítások</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        
        <section class='form'>
          <form action="signup" class="needs-validation" method="post" id="regform" novalidate>
            <fieldset>
            <div class="container signup">
    

                <div class="form-group mb-3 mode_select"> 
                  <label class="form-label" for="fullname"><b>Futtatási mód:</b></label>
                  <div class="row">
                    <div class="col-6">
                      <select class="form-control" id="process_mode" name="process_mode">
                        <option value="0" selected>Gyakorló mód</option>
                        <option value="1">Tantermi mód</option>
                        <option value="2">Vizsga mód</option>
                        <option value="3">Vizsga mód (verseny)</option>
                      </select>
                    </div>
                  </div>
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>
        


                <div class="form-group mb-3 "> 
                  <label class="form-label" for="username"><b>Lejárati dátum:</b></label>
                  <input class="form-control"  type="datetime-local" id="username" name="username">
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>

            </div>
            </fieldset>
          </form>
        </section>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="button" class="btn btn-primary">Indítás</button>
      </div>
    </div>
  </div>
</div>

<script>


$("#table").bootstrapTable({
onClickRow:function(row, $element){
  if ($element.attr('aria-expanded') === "true" ) {
    $element.css("background-color", "#e7f1ff");
  } else {
    $element.css("background-color", "")
  }
},


//Mobilnézetben(card-view) generál két span elemet a bootstrap-table, ezzel szabadulunk meg tőle
onToggle:function(cardView){
if (cardView) {
  $(".additional .card-view-title").remove();
  $("[colspan=6]").addClass('p-0');
  // $(".card-view").css("border-bottom", "1px grey solid");
}
},

onLoadSuccess: function (data) {

},

onResetView : function (data) {
  InitPopup();
},
//   rowAttributes: function(row, index) {
//   if (index % 2 === 1) {
//     return {
//       'cursor': 'pointer'
//     }
//   }
// },

rowStyle: function (row, index) {

  if (index % 2 === 1) {
    return {
      classes: 'additional'
    }
  }
  return {
            classes: 'p-0',
            css: {
              cursor: 'pointer'
            }
          };
      
}
})

$(document).ready(function() {
  var popover1 = new bootstrap.Popover(document.querySelector('.operations-info'), {
                trigger: 'hover'
                }); 
                
                // $('#exampleModal').modal('show');


});


  // function HideRow(target) {
  //     var row = $('#hidden'+target);  //returns a jQuery Object
  //     if (row.hasClass('collapse')) {
  //         row.removeClass('collapse')
  //     } else {
  //         row.addClass('collapse')
  //     }
  // }
        </script>