

<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<!-- <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script> -->

<style>
  .card-body > .btn {
margin-top: 2px;
  }

.process-table tbody tr:hover td, .table-hover tbody tr:hover th {
background-color: beige !important;
}

.table-hover:hover {
  background-color:rgb(231, 241, 255) !important;
}
  


</style>
<% if (typeof pincode !== 'undefined') { %>
	<div class="alert alert-success d-flex alert-dismissible" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div class="float-end">
      A folyamat sikeresen létrehozva, a csatlakozáshoz szükséges pinkód: <strong id="pincode_cb"><%= pincode %></strong> 
      <a class="clipboard" href="#" OnClick="CopyToTheClipboard()">
        <span class="iconify" data-icon="clarity:copy-to-clipboard-line" data-inline="false" title="Pinkód másolása vágólapra"></span>
      </a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %>


<h1>Tesztbank</h1>




<table     
id="table"
data-toggle="table"
data-mobile-responsive="true"
data-search="true"
data-pagination="true" 
data-page-number="2">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="test_name">Teszt neve</th>
      <th data-field="questions_count">Kérdések száma</th>
      <th data-field="cat_name">Kategória</th>
      <th data-field="created_date">Létrehozás dátuma</th> 
      <th data-field="modified_date">Módosítás dátuma</th>  
    </tr>
  </thead>
  <tbody>
  <% for(var i=0; i<test_data[0].length; i++) {%>
          <tr data-bs-toggle="collapse" data-bs-target="#hiddenRow<%= i %>" aria-expanded="false" aria-controls="#hiddenRow<%= i %>" id="Row<%= i %>" class="">
              <td><%= test_data[0][i].test_id %></td>
              <td><%= test_data[0][i].test_name %></td>
              <td><%= test_data[0][i].question_num %></td>
              <td><%= test_data[0][i].cat_name %></td>
              <td><%= moment(test_data[0][i].created_date).format("YYYY.MM.DD HH:mm");  %></td>
              <td><%= moment(test_data[0][i].modified_date).format("YYYY.MM.DD HH:mm");  %></td>
          </tr>

          <tr id="hiddenRow<%= i %>">
                <td style="display: none"><%= test_data[0][i].test_id %></td>
                <td style="display: none"><%= test_data[0][i].test_name %></td>
                <td style="display: none"><%= test_data[0][i].question_num %></td>
                <td style="display: none"><%= test_data[0][i].cat_name %></td>
                <td style="display: none"><%= moment(test_data[0][i].created_date).format("YYYY.MM.DD HH:mm");  %></td>
                <td class="hiddenRow p-0 w-100" colspan="6">
                <div class="collapse" id="hiddenRow<%= i %>">
                  <div class="card card-body">                
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Aktív példányok</h5>
                            <div class="row">
                            <% if (1==2) { %>
                              <p class="card-text">Ebből a tesztből jelenleg nem fut egy példány sem.</p>
                            <% } else { %>

                              <div class="item">
                              <div class="table-responsive">  
                                <table class="table process-table">
                                  <thead>
                                    <tr>
                                      <th>ID</th>
                                      <th>Indítás dátuma</th>
                                      <th>Pinkód</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <% var process_count=0 %>
                                      <% for(var j=0; j<process_data[0].length; j++)  {%>
                                        <% if (process_data[0][j].test_id == test_data[0][i].test_id) { %>
                                          <% process_count++ %>
                                          <tr>
                                            <td class="col-sm-2"><%= process_data[0][j].process_id %></td>
                                            <td class="col-sm-6"><%= moment(process_data[0][j].start_date).format("YYYY.MM.DD HH:mm"); %></td>
                                            <td class="col-sm-4"><%= process_data[0][j].pincode %></td>
                                         </tr>                    
                                        <% } } %>
                                  </tbody>
                                </table>
                              </div> 
                              </div>
                              <% if (process_count <= 0) { %>
                                <p class="card-text pt-2">Ebből a tesztből jelenleg nem fut egy példány sem.</p>
                                <% } %> 
                              <% } %> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Statisztika</h5>
                            <dl class="row">
                              <dt class="col-sm-8">Kitöltések száma</dt>
                              <dd class="col-sm-4">0</dd>
                              <dt class="col-sm-8">Futtatások száma</dt>
                              <dd class="col-sm-4">0</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Műveletek <img color="green" src="images/info-circle.svg" 
                              tabindex="0" class="btninfo" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" 
                              title="Információ" data-bs-content="A műveletek segítségével elindíthatod a tesztet egy tetszőleges módban, szerkesztheted vagy törölheted azt.">
                              </img></h5>
                              <a href="#" data-bs-toggle="modal" OnClick="LoadDataToModal('<%= test_data[0][i].test_id %>')" data-bs-target="#runTestModal" class="btn btn-primary btn-sm">Indítás</a>
                              <a href="#" class="btn btn-secondary btn-sm">Módosítás</a>
                              <a href="#" class="btn btn-danger btn-sm">Törlés</a><br>
                              <a href="#" class="btn btn-outline-warning btn-sm mt-2">Exportálás</a>
                              <a href="#" class="btn btn-outline-warning btn-sm mt-2">Nyomtatás</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </td></tr>
  <% } %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="runTestModal" tabindex="-1" aria-labelledby="runTestModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="runTestModal">Indítási beállítások</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
      <form action="runTest" class="needs-validation" method="post" id="runTest" novalidate>
      <div class="modal-body">
       
        

            <fieldset>
            <div class="container">
                <input class="form-control" hidden type="text" id="test_id" name="test_id" value="">
                <div class="form-group mb-3 mode_select"> 
                  <label class="form-label" for="process_mode"><b>Futtatási mód:</b></label>
                  <div class="row">
                    <div class="col-6">
                      <select class="form-control" id="mode" name="mode">
                        <option value="0" selected>Gyakorló mód</option>
                        <option value="1">Tantermi mód</option>
                        <option value="2">Vizsga mód</option>
                        <option value="3">Vizsga mód (verseny)</option>
                      </select>
                    </div>
                  </div>
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>

                <div class="form-group mb-3 "> 
                  <label class="form-label" for="start_date"><b>Indítási dátum:</b></label>
                  <input class="form-control"  type="datetime-local" id="start_date" name="start_date" min="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>" value="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>">
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>
    
                <div class="form-group mb-3 "> 
                  <label class="form-label" for="end_date"><b>Lejárati dátum:</b></label>
                  <input class="form-control"  type="datetime-local" id="end_date" name="end_date" min="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>">
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>

            </div>
            </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" class="btn btn-primary">Indítás</button>
      </div>
    </form>
  </section>
    </div>
  </div>
</div>

<script>

$("#table").bootstrapTable({
onClickRow:function(row, $element){
  if ($element.attr('aria-expanded') === "true" ) {
    $element.css("background-color", "#e7f1ff");
  } else {
    $element.css("background-color", "")
  }
},


onToggle:function(cardView){
 $('#table').removeClass('table-hover'); //az alap table-hovert törlöm
// if (cardView) {
//   $(".additional .card-view-title").remove();
//   $("[colspan=6]").addClass('p-0');
//   // $(".card-view").css("border-bottom", "1px grey solid");
// }
},

onLoadSuccess: function (data) {

},

//Mobilnézetben(card-view) generál két span elemet a bootstrap-table, ezzel szabadulunk meg tőle
onResetView : function (data, index) {
  InitPopup();

  $(".additional .card-view-title").remove();
  $("[colspan=6]").addClass('p-0');
},
//   rowAttributes: function(row, index) {
//   if (index % 2 === 1) {
//     return {
//       'cursor': 'pointer'
//     }
//   }
// },

rowStyle: function (row, index) {

  if (index % 2 === 1) {
    return {
      classes: 'additional',
    }
  }
  return {
            classes: 'p-0 table-hover', //minden 2 -vel nem osztható sor megkapja a table-hover classt
            css: {
              cursor: 'pointer'
            }
          };
      
}
})

function CopyToTheClipboard() {
  // Trükkös megoldás a pinkód vágólapra történő másolásához
  var cText = $("#pincode_cb").text();
    var textArea = document.createElement("textarea");
    textArea.value = cText;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}

$(document).ready(function() {
ShowRowByID('<%= test_id %>'); //meghívjuk a függvényt
});

function ShowRowByID(target) {
  var td = $('td').filter( ":nth-child(1)" ).filter(function(){ //megkeressük azt a td elemet, ahol az id egyezik az url queryben szereplővel 
    return $(this).text() === '<%= test_id %>'
  })
  var Row = td.parent('tr'); //megkeressünk a szülő tr -t
  Row.click(); //szimulálunk egy klikket
  if (Row.attr('aria-expanded') === "true" ) { //beszínezzük a sort
    Row.css("background-color", "#e7f1ff");
    } else {
      Row.css("background-color", "")
    }
}

function LoadDataToModal(target) {
$("#test_id").val(target);
alert(target);
}



  // function HideRow(target) {
  //     var row = $('#hidden'+target);  //returns a jQuery Object
  //     if (row.hasClass('collapse')) {
  //         row.removeClass('collapse')
  //     } else {
  //         row.addClass('collapse')
  //     }
  // }
        </script>