

<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<!-- <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script> -->

<style>
  .card-body > .btn {
margin-top: 2px;
  }

.process-table tbody tr:hover td, .table-hover tbody tr:hover th {
background-color: beige !important;
}

.table-hover:hover {
  background-color:rgb(231, 241, 255) !important;
}

.btn-start{
  background-color:#228b58 !important;
  color: #fff;
  border-color: #196741;
}
.btn-start:hover {
  background-color: #1e7b4e !important;
  color: #fff !important;
}

.btn-duplicate{
  background-color:#6480c1 !important;
  color: #fff;
  border-color: #496ab6;
}

.btn-duplicate:hover{
  background-color: #496ab6 !important;
  color: #fff !important;
}
</style>
<% if (typeof pincode !== 'undefined') { %>
	<div class="alert alert-success d-flex alert-dismissible" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div class="float-end">
      A folyamat sikeresen létrehozva, a csatlakozáshoz szükséges pinkód: <strong id="pincode_cb"><%= pincode %></strong> 
      <a class="clipboard" href="#" OnClick="CopyToTheClipboard()">
        <span class="iconify" data-icon="clarity:copy-to-clipboard-line" data-inline="false" title="Pinkód másolása vágólapra"></span>
      </a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %>
<% if (typeof status !== 'undefined') { %>
	<div class="alert alert-danger d-flex alert-dismissible" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div class="float-end">
			<% switch (status) {
			case '1' : %>
        A teszt nem létezik, vagy egy másik felhasználóhoz tartozik! 
        <% break; %>
		  	<% } %>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<% } %>


<h1>Tesztbank</h1>


<table     
id="table"
data-toggle="table"
data-mobile-responsive="true"
data-search="true"
data-pagination="false" 
data-page-number="1"
data-page-size="10"
data-pagination-parts="[pageList, pageInfo]">
  <thead>
    <tr>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="test_name" data-sortable="true">Teszt neve</th>
      <th data-field="questions_count" data-sortable="true">Kérdések száma</th>
      <th data-field="cat_name" data-sortable="true">Kategória</th>
      <th data-field="created_date" data-sortable="true">Létrehozás dátuma</th> 
      <th data-field="modified_date" data-sortable="true">Módosítás dátuma</th>  
    </tr>
  </thead>
  <tbody>
<% if (test_data[0].length > 0) { %>
  <% for(var i=0; i<test_data[0].length; i++) {%>
          <tr data-bs-toggle="collapse" data-bs-target="#hiddenRow<%= i %>" aria-expanded="false" aria-controls="#hiddenRow<%= i %>" id="Row<%= i %>" class="">
              <td><%= test_data[0][i].test_id %></td>
              <td><%= test_data[0][i].test_name %></td>
              <td><%= test_data[0][i].question_num %></td>
              <td><%= test_data[0][i].maincat_name %>/<%= test_data[0][i].subcat_name %></td>
              <td><%= moment(test_data[0][i].created_date).format("YYYY.MM.DD HH:mm");  %></td>
              <td><%= moment(test_data[0][i].modified_date).format("YYYY.MM.DD HH:mm");  %></td>
          </tr>
  <% } %>
<% } %>
  </tbody>
</table>


<table class="d-none" id="shadowTable">
  <tbody>
<% if (test_data[0].length > 0) { %>
  <% for(var i=0; i<test_data[0].length; i++) {%>
          <tr id="hiddenRow<%= i %>_src">
            <td class="hiddenRow p-0 w-100" colspan="6">
            <div class="collapse" id="hiddenRow<%= i %>Div_src">
              <div class="card card-body">                
                <div class="row">
                  <div class="col-sm-5">
                    <div class="card h-100">
                      <div class="card-body">
                        <h5 class="card-title">Tesztfolyamatok</h5>
                        <div class="row">
                          <div class="item">
                          <div class="table-responsive">  
                            <table class="table process-table">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Indítás dátuma</th>
                                  <th>Futtatási mód</th>
                                  <th>Pinkód</th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <% var process_count=0 %>
                                <% if (typeof process_data !== 'undefined') { %>
                                  <% for(var j=0; j<process_data[0].length; j++)  {%>
                                    <% if (process_data[0][j].test_id == test_data[0][i].test_id) { %>
                                      <% process_count++ %>
                                      <tr>
                                        <td class="col-sm-1"><%= process_data[0][j].process_id %></td>
                                        <td class="col-sm-3"><%= moment(process_data[0][j].start_date).format("YYYY.MM.DD HH:mm"); %></td>
                                        <td class="col-sm-3">
                                          <% switch (process_data[0][j].mode) {
                                            case 0 : %>
                                                    Gyakorló
                                                    <% break;
                                            
                                            case 1 : %>
                                                    Tantermi
                                                    <% break;
                                            
                                            case 2 : %>
                                                    Vizsga
                                                    <% break;

                                            case 3 : %>
                                                    Vizsga (verseny)
                                                    <% break;
                                            
                                            } %>
                                        </td>
                                        <td class="col-sm-2"><%= process_data[0][j].pincode %>
                                        </td>
                                        <%var time_courrent_dif_end = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][j].end_date, "YYYY.MM.DD HH:mm")));%>
                                        <%var time_courrent_dif_start = moment.duration(moment(new Date(), "YYYY.MM.DD HH:mm").diff(moment(process_data[0][j].start_date, "YYYY.MM.DD HH:mm")));%>
                                        <% if (time_courrent_dif_end.asSeconds() >= 0) { %> 
                                          <td class="col-sm-1"><span class="iconify" data-icon="carbon:dot-mark" style="color: red;"></span>
                                        <% } else { %>
                                          <% if (time_courrent_dif_start.asSeconds() >= 0) { %>
                                            <td class="col-sm-1"><span class="iconify" data-icon="carbon:dot-mark" style="color: green;"></span>
                                            <% } else { %>
                                              <td class="col-sm-1"><span class="iconify" data-icon="carbon:dot-mark" style="color: orange"></span
                                                <% } %>
                                            <% } %>
                                      </td>
                                      <td class="col-sm-2">
                                        <a href="/test/process?pincode=<%= process_data[0][j].pincode %>"><span style="color: #617ab8;" class="iconify d-inline me-1" data-icon="carbon:information" data-width="18" data-height="18"></span></a>
                                        <span style="color: #bf9b25;" class="iconify d-inline me-1" data-icon="carbon:pen" data-width="18" data-height="18"></span>
                                        <a href="#" OnClick="LoadDataToModal('deleteTestProcess', '<%= process_data[0][j].process_id %>','')"><span style="color: red;" class="iconify d-inline" data-icon="carbon:delete" data-width="18" data-height="18"></span></a>
                                      </td>
                                    </tr>                
                                    <% } %>
                                   <% } %>
                                <% } %>
                              </tbody>
                            </table>
                          </div> 
                          </div>
                          <% if (process_count <= 0) { %>
                            <p class="card-text pt-2">Ebből a tesztből jelenleg nem fut egy tesztfolyamat sem.</p>
                            <% } %> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h5 class="card-title">Statisztika</h5>
                        <dl class="row">
                          <dt class="col-sm-8">Összes kitöltés</dt>
                          <dd class="col-sm-4">0 db</dd>
                          <dt class="col-sm-8">Átlagos eredmény</dt>
                          <dd class="col-sm-4">0 %</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card h-100">
                      <div class="card-body">
                        <h5 class="card-title">Műveletek</h5>
                          <a href="#" OnClick="LoadDataToModal('newTestProcess', '<%= test_data[0][i].test_id %>','')" class="btn btn-start btn-sm">Indítás</a>
                          <a href="#" OnClick="LoadDataToModal('duplicateTest', '<%= test_data[0][i].test_id %>','<%= test_data[0][i].category_id %>')" class="btn btn-duplicate btn-sm">Duplikálás</a>
                          <a href="#" OnClick="LoadDataToModal('deleteTest', '<%= test_data[0][i].test_id %>','')" class="btn btn-danger btn-sm">Törlés</a><br>
                          <a href="#" OnClick="editTest('<%= test_data[0][i].test_id %>');" class="btn btn-secondary btn-sm mt-2">Szerkesztés</a>
                          <a href="#" OnClick="LoadDataToModal('renameTest', '<%= test_data[0][i].test_id %>','')" class="btn btn-secondary btn-sm mt-2">Átnevezés</a>
                          <a href="#" OnClick="LoadDataToModal('moveTest', '<%= test_data[0][i].test_id %>','')" class="btn btn-secondary btn-sm mt-2">Áthelyezés</a><br>
                          <a href="#" OnClick="EXP('<%= test_data[0][i].test_id %>');" class="btn btn-outline-warning btn-sm mt-2">Exportálás</a>
                          <a href="#" OnClick="LoadDataToModal('printTest', '<%= test_data[0][i].test_id %>','')" class="btn btn-outline-warning btn-sm mt-2">Nyomtatás</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
          </div>
      </td></tr>
  <% } %>
<% } %>
  </tbody>
</table>

<!--Teszt folyamat létrehozása Modal  -->
<div class="modal fade" id="createTestProcessModal" tabindex="-1" aria-labelledby="createTestProcessModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Indítási beállítások</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section class='form'>
      <form action="/createTestProcess" class="needs-validation" method="post" id="createTestProcess" novalidate>
      <div class="modal-body">
       
        

          <fieldset>
            <div class="container">
                <input class="form-control" hidden type="text" id="test_id" name="test_id" value="">
                <input class="form-control" hidden type="text" id="classification" name="classification" value="">
                <div class="form-group mb-3 mode_select"> 
                  <label class="form-label" for="process_mode"><b>Futtatási mód:</b></label>
                  <div class="row">
                    <div class="col-6">
                      <select class="form-select" id="mode" name="mode">
                        <option value="0" selected>Gyakorló mód</option>
                        <option value="1">Tantermi mód</option>
                        <option value="2">Vizsga mód</option>
                        <option value="3">Vizsga mód (verseny)</option>
                      </select>
                    </div>
                  </div>
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>

                <div class="form-group mb-3 "> 
                  <label class="form-label" for="start_date"><b>Indítási dátum:</b></label>
                  <input class="form-control"  type="datetime-local" id="start_date" name="start_date" min="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>" value="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>">
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>
    
                <div class="form-group mb-3 "> 
                  <label class="form-label" for="end_date"><b>Lejárati dátum: <img color="green" src="/images/info-circle.svg" 
                    tabindex="0" class="btninfo" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" 
                    title="Információ" data-bs-content="A lejárati dátum üresen hagyásával a tesztfolyamat határozatlan ideig engedélyezi a tesztkitöltést.">
                    </img></b></label>
                  <input class="form-control"  type="datetime-local" id="end_date" name="end_date" min="<%= moment().format("YYYY-MM-DD[T]HH:mm");  %>">
                  <div class="valid-feedback">
                  <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                  <span id="invalid-text"></span>
                  </div>
                </div>

                <div class="form-group mb-3"> 
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="autoClassificationCheck">
                    <label class="form-check-label" for="autoClassificationCheck">
                      Automatikus értékelés bekapcsolása
                    </label>
                  </div>
                </div>
             
                <div id="classificationSettings" class="form-group mb-3 d-none"> 
                  <hr>
                  <table>
                    <thead>
                      <tr>
                        <td></td>
                        <td class="text-center">Ettől</td>
                        <td class="text-center">Eddig</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Elégtelen</td>
                        <td><input class="form-control m-auto text-center w-50" disabled type="text" id="c1" value="0"></td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c2" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                      </tr>
                      <tr>
                        <td>Elégséges</td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c3" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c4" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                      </tr>
                      <tr>
                        <td>Közepes</td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c5" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                        <td><input class="form-control m-auto text-center w-50"type="text" id="c6" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                      </tr>
                      <tr>
                        <td>Jó</td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c7" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c8" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                      </tr>
                      <tr>
                        <td>Jeles</td>
                        <td><input class="form-control m-auto text-center w-50" type="text" id="c9" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" value=""></td>
                        <td><input class="form-control m-auto text-center w-50" disabled type="text" id="c10" value="100"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>


            </div>
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" class="btn btn-primary">Indítás</button>
      </div>
    </form>
  </section>
    </div>
  </div>
</div>

<!--Teszt duplikálása Modal  -->
<div class="modal fade" id="duplicateTestModal" tabindex="-1" aria-labelledby="duplicateTestModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Teszt duplikálása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <section class='form'>
      <form action="/duplicateTest" class="needs-validation" method="post" id="duplicateTest" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="container">
              <div class="form-group mb-3"> 
                  <label class="form-label" for="test_name_dt"><b>Teszt neve:</b></label>
                  <input class="form-control" type="text" id="test_name_dt" name="test_name_dt">
                  <input class="form-control" hidden type="text" id="test_id_dt" name="test_id_dt" value="">
                  <div class="valid-feedback">
                    <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                   <span id="invalid-text"></span>
                  </div>
              </div>
              <div class="form-group mb-3"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="newCatCheck">
                  <input class="form-control" hidden type="text" id="cat_id_dt" name="cat_id_dt" value="">
                  <label class="form-check-label" for="newCatCheck">
                    Új kategóriába helyezés
                  </label>
                </div>
              </div>
              <div class="form-group mb-3 maincat d-none"> 
                <label class="form-label" for="main_category_dt"><b>Főkategória:</b></label>
                <div class="row">
                  <div class="col-8">
                    <select class="form-select" onChange="getSubCategory('duplicateTest');" id="main_category_dt" name="main_category_dt"></select>
                    <div class="invalid-feedback">
                      <span id="invalid-text"></span>
                    </div>
                  </div>
                </div>
              </div>
                <div class="form-group mb-3 subcat d-none"> 
                    <label class="form-label" for="sub_category_dt"><b>Alkategória:</b></label>
                    <div class="row">
                      <div class="col-8">
                        <select class="form-select" id="sub_category_dt" name="sub_category_dt"></select>
                      </div>
                    </div>
                </div>
            </div>
          </fieldset>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" id="duplicateTestBtn" class="btn btn-primary">Létrehozás</button>
      </div>
      </form>
  </section>
    </div>
  </div>
</div>

<!--Teszt áthelyezése Modal  -->
<div class="modal fade" id="moveTestModal" tabindex="-1" aria-labelledby="moveTestModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Teszt áthelyezése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <section class='form'>
      <form action="/moveTest" class="needs-validation" method="post" id="moveTest" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="container">
              <div class="form-group mb-3 maincat"> 
                <label class="form-label" for="main_category_mt"><b>Főkategória:</b></label>
                <div class="row">
                  <div class="col-8">
                    <select class="form-select" onChange="getSubCategory('moveTest');" id="main_category_mt" name="main_category_mt"></select>
                    <input class="form-control" hidden type="text" id="cat_id_mt" name="cat_id_mt" value="">
                    <input class="form-control" hidden type="text" id="test_id_mt" name="test_id_mt" value="">
                    <div class="invalid-feedback">
                      <span id="invalid-text"></span>
                    </div>
                  </div>
                </div>
              </div>
                <div class="form-group mb-3 subcat"> 
                    <label class="form-label" for="sub_category_mt"><b>Alkategória:</b></label>
                    <div class="row">
                      <div class="col-8">
                        <select class="form-select" id="sub_category_mt" name="sub_category_mt"></select>
                      </div>
                    </div>
                </div>
            </div>
          </fieldset>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" id="moveTestBtn" class="btn btn-primary">Áthelyezés</button>
      </div>
      </form>
  </section>
    </div>
  </div>
</div>

<!--Teszt átnevezése Modal  -->
<div class="modal fade" id="renameTestModal" tabindex="-1" aria-labelledby="renameTestModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Teszt átnevezése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <section class='form'>
      <form action="/renameTest" class="needs-validation" method="post" id="renameTest" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="container">
              <div class="form-group mb-3"> 
                  <label class="form-label" for="test_name_rt"><b>Teszt új neve:</b></label>
                  <input class="form-control" type="text" id="test_name_rt" name="test_name_rt">
                  <input class="form-control" hidden type="text" id="test_id_rt" name="test_id_rt" value="">
                  <div class="valid-feedback">
                    <span id="valid-text"></span>
                  </div>
                  <div class="invalid-feedback">
                   <span id="invalid-text"></span>
                  </div>
              </div>
            </div>
          </fieldset>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" id="renameTestBtn" class="btn btn-primary">Átnevezés</button>
      </div>
      </form>
  </section>
    </div>
  </div>
</div>

<!--Teszt nyomtatása Modal  -->
<div class="modal fade" id="printTestModal" tabindex="-1" aria-labelledby="printTestModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Teszt nyomtatása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <section class='form'>
      <form action="/PDF" class="needs-validation" method="post" id="printTest" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="container">
              <div class="form-group mb-3"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="printTestNameCheck">
                  <input class="form-control" hidden type="text" id="print_test_name" name="print_test_name" value="0">
                  <label class="form-check-label" for="printTestNameCheck">
                    Teszt nevének megjelenítése
                  </label>
                </div>
              </div>
              <div class="form-group mb-3"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="printPointsCheck">
                  <input class="form-control" hidden type="text" id="print_points" name="print_points" value="0">
                  <input class="form-control" hidden type="text" id="test_id_pt" name="test_id_pt" value="">
                  <label class="form-check-label" for="printPointsCheck">
                    Pontszámok megjelenítése
                  </label>
                </div>
              </div>

            </div>
          </fieldset>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kilépés</button>
        <button type="submit" id="printTestBtn" class="btn btn-primary">Nyomtatás</button>
      </div>
      </form>
  </section>
    </div>
  </div>
</div>

<!-- Teszt törlése Modal -->
<div class="modal fade" id="deleteTestModal" tabindex="-1" aria-labelledby="deleteTestModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Figyelem!</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
			<section class='form'>
				<form action="/deleteTest" class="needs-validation" method="post" id="deleteTest" novalidate>
					<div class="modal-body">
					Valóban törlöd a tesztet?   
					<fieldset>
						<div class="container">
              <input class="form-control" hidden type="text" id="test_id_delt" name="test_id_delt" value="">
						</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vissza</button>
						<button type="submit" class="btn btn-danger" id="testDeleteBtn">Törlés</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>

<form class="d-none" id='testexp' action="/exp" method="POST">
  <input type="hidden" id = "postexp" name="postexp" />
</form>

<form class="d-none" id='editTest' action="/editTest" method="POST">
  <input type="hidden" id = "postexp" name="postexp" />
  <input hidden type="text" id="test_id_et" name="test_id_et" value="">
</form>

<script>
//PDF
// function PDF() {
//   console.log('<%= test_id %>');
//     // testSzoveg = document.getElementById("tippem").value;
//     var testSzoveg = 78945;
//     console.log(testSzoveg);
//     var form = $('#testPost');
//     var hiddencucc = $('#postTippem');
//     hiddencucc.val(testSzoveg);
//     console.log(hiddencucc.val());
//     form.trigger('submit', function(){});
//   }

  //EXP
function EXP(testId) {
  // testSzoveg = document.getElementById("tippem").value;
  var testSzoveg = testId;
  console.log(testSzoveg);
  var form = $('#testexp');
  var hiddencucc = $('#postexp');
  hiddencucc.val(testSzoveg);
  console.log(hiddencucc.val());
  form.trigger('submit', function(){});
}

function editTest(testId) {
$("#test_id_et").val(testId);
$("#editTest").trigger('submit');
}

  var courrentLength = 10; //inicializáljuk a jelenlegi értékkel a hosszúságot
$(document).ready(function() {
  ShowRowByID('<%= test_id %>'); //meghívjuk a függvényt, ezzel lenyitjuk azt a tesztet, amiről új folyamatot hoztunk létre
  AddPageChangeBar(); //hozzáadjuk az oldal betöltését követően a "menüt"
});

function htmlToElement(html) {
		var template = document.createElement('template');
		html = html.trim();
		template.innerHTML = html;
		return template.content.firstChild;
	} 

function AddPageChangeBar() {
  if (!$("#pageLengthValue").length) {
      var html=`
      <div class="float-left pagination"> 
      <select OnChange="ChangePageLength()" class="form-select" id="pageLengthValue" aria-label="">
        <option selected value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      </div>`;
      var PageSize = htmlToElement(html);
			var PagenationContainer = $(".fixed-table-pagination");
			PagenationContainer.append(PageSize);
      $('#pageLengthValue').val(courrentLength); //az épp aktuális hosszra állítjuk be
    }
  }

function ChangePageLength() { //oldalhossz váltás esetén
  courrentLength = $('#pageLengthValue').val(); //elmentjük a kiválasztott értéket
  $("#table").bootstrapTable('refreshOptions', { //beállítjuk
    pageSize: $('#pageLengthValue').val()
  })
  console.log(courrentLength);
  AddPageChangeBar();//újra hozzáadjuk a "menüt"
  $('#pageLengthValue').val(courrentLength); //visszaállítjuk az előzőleg kiválasztott értéket
}


$("#table").bootstrapTable({
onClickRow:function(row, $element){
  console.log($element);
  var index = row._id; //A megjelenő row indexe
  if (!$("#hidden"+index).length) {//ha nem létezik még a rejtett row, akkor átrakjuk a shadowTable-ből
        $('#'+index).after('<tr id="hidden'+index+'">'+$( "#hidden"+index+'_src').html()+'</tr>'); //hiddenrow id beállítás
        $("#hidden"+index+'Div_src').attr('id', 'hidden'+index); //bennelévő div id beállítás
        $("#hidden"+index).addClass('additional');
        $element.click(); //muszáj egy klikket szimulálni, mert másképp nem nyílik le a hiddenrow
        InitPopup();//mindig meg kell hívni újra, hogy megjelenjen a felugró ablakok
  } else {
        $("#hidden"+index).on('hidden.bs.collapse', function(){ //csak akkor törölje a tr elemet, ha már megtörtént az animáció
        $("#hidden"+index).remove();
        });
  }
 
  if ($element.attr('aria-expanded') === "true" ) {
    $element.css("background-color", "#e7f1ff");
  } else {
    $element.css("background-color", "")
  }
},


onToggle:function(cardView){
 $('#table').removeClass('table-hover'); //az alap table-hovert törlöm
// if (cardView) {
//   $(".additional .card-view-title").remove();
//   $("[colspan=6]").addClass('p-0');
//   // $(".card-view").css("border-bottom", "1px grey solid");
// }
},

onLoadSuccess: function (data) {
},

onPageChange: function(number, size) {
  AddPageChangeBar(); //oldalváltás esetén újra hozzá kell adni a "menüt"
},



//Mobilnézetben(card-view) generál két span elemet a bootstrap-table, ezzel szabadulunk meg tőle
onResetView : function (data, index) {
  
  // $('#table tr[id*="hiddenRow"]').addClass('additional');

  InitPopup();
  $(".additional .card-view-title").remove();
  $("[colspan=6]").addClass('p-0');
},
//   rowAttributes: function(row, index) {
//   if (index % 2 === 1) {
//     return {
//       'cursor': 'pointer'
//     }
//   }
// },

rowStyle: function (row, index) {

  // if (index % 2 === 1) {
  //   return {
  //     classes: 'additional',
  //   }
  // }
  return {
            classes: 'p-0 table-hover', //minden 2 -vel nem osztható sor megkapja a table-hover classt
            css: {
              cursor: 'pointer'
            }
          };
  

}
})

function CopyToTheClipboard() {
  // Trükkös megoldás a pinkód vágólapra történő másolásához
  var cText = $("#pincode_cb").text();
    var textArea = document.createElement("textarea");
    textArea.value = cText;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}


function ShowRowByID(target) {

  var td = $('#table td').filter( ":nth-child(1)" ).filter(function(){ //megkeressük azt a td elemet, ahol az id egyezik az url queryben szereplővel 
    return $(this).text() === target;
  })
  var Row = td.parent('tr'); //megkeressünk a szülő tr -t
  var pageCount = parseInt(Row.attr('data-index')/10)+1;
  console.log('Lap: '+pageCount);
  $('#table').bootstrapTable('togglePagination');
  $('#table').bootstrapTable('selectPage', pageCount);
  Row = $('#'+Row.attr('id')); //ismeretlen okból kifolyólag enélkül nem nyílik le a rejtett row, így a row változónak át kell adni ?önmagát? és jó lesz

  var index = Row.attr('id'); //A megjelenő row indexe
  if (!$("#hidden"+index).length) {//ha nem létezik még a rejtett row, akkor átrakjuk a shadowTable-ből
        $('#'+index).after('<tr id="hidden'+index+'">'+$( "#hidden"+index+'_src').html()+'</tr>'); //hiddenrow id beállítás
        $("#hidden"+index+'Div_src').attr('id', 'hidden'+index); //bennelévő div id beállítás
        $("#hidden"+index).addClass('additional');
        Row.click(); //muszáj egy klikket szimulálni, mert másképp nem nyílik le a hiddenrow
        InitPopup();
  }
  if (Row.attr('aria-expanded') === "true" ) { //beszínezzük a sort
    Row.css("background-color", "#e7f1ff");
    } else {
      Row.css("background-color", "");
    }



}

var originalCatId; //globális változóba tároljuk az eredeti kategória azonosítóját
$("#newCatCheck").change(function() {
    if(this.checked) {
        getMainCategory('duplicateTest'); 
        $('#duplicateTestModal .maincat').removeClass('d-none');
        $('#duplicateTestModal .subcat').removeClass('d-none');
    } else {
        $('#duplicateTestModal .maincat').addClass('d-none');
        $('#duplicateTestModal .subcat').addClass('d-none');     
        $('#cat_id_dt').val(originalCatId); //eredeti visszamásolása
    }
});

$("#sub_category_dt").change(function() {
  $('#cat_id_dt').val($('#sub_category_dt').val()); //új kategória azonosító átmásolása a rejtett inputba..
});

$("#sub_category_mt").change(function() {
  $('#cat_id_mt').val($('#sub_category_mt').val()); //új kategória azonosító átmásolása a rejtett inputba..
});

$("#printPointsCheck").change(function() {
    if(this.checked) {
      $('#print_points').val('1');
    } else {
      $('#print_points').val('0');
    }
});

$("#autoClassificationCheck").change(function() {
    if(this.checked) {
      $("#classificationSettings").removeClass("d-none");
    } else {
      $("#classificationSettings").addClass("d-none");
    }
});

$("#printTestNameCheck").change(function() {
    if(this.checked) {
      $('#print_test_name').val('1');
    } else {
      $('#print_test_name').val('0');
    }
});

$("#printTest").submit(function() {
  //PDF generálás után tűnjön el a modal
printTestModal.hide();
});

$('#createTestProcess').submit(function(e) {

  var c1 = $('#c1').val();
  var c2 = $('#c2').val();
  var c3 = $('#c3').val();
  var c4 = $('#c4').val();
  var c5 = $('#c5').val();
  var c6 = $('#c6').val();
  var c7 = $('#c7').val();
  var c8 = $('#c8').val();
  var c9 = $('#c9').val();
  var c10 = $('#c10').val();

  if ($("#autoClassificationCheck").prop("checked")) {
   if ( (c1 != '') &&  (c2 != '') && (c3 != '') && (c4 != '') && (c5 != '') && (c6 != '') && (c7 != '') && (c8 != '') && (c9 != '') && (c10 != '') ) {
    if ( (parseInt(c1) < parseInt(c2)) && (parseInt(c2) < parseInt(c3)) && (parseInt(c3) < parseInt(c4)) && (parseInt(c4) < parseInt(c5)) && (parseInt(c5) < parseInt(c6)) && (parseInt(c6) < parseInt(c7)) && (parseInt(c7) < parseInt(c8)) && (parseInt(c8) < parseInt(c9)) && (parseInt(c9) < parseInt(c10)) ) { 
      var fullString = $('#c1').val()+';'+$('#c2').val()+';'+$('#c3').val()+';'+$('#c4').val()+';'+$('#c5').val()+';'+$('#c6').val()+';'+$('#c7').val()+';'+$('#c8').val()+';'+$('#c9').val()+';'+$('#c10').val();
      $("#classification").val(fullString);

        } else {alert('Az értékelési tartomány hibás!');   return false;}
  } else {alert('Nincs meghatározva minden értékelési tartomány!');   return false;}
} else {
  $("#classification").val('disabled');
}


  
})

        </script>